@import '../node_modules/foundation-sites/scss/foundation';

.tabs__nav {
	list-style: none !important;
}

.tabs__title {
	margin-bottom: 0 !important;
}

.tabs__panel {
	display: block !important;
}
