@import '../node_modules/foundation-sites/scss/foundation';

.gutenberg {
	ul.tabs__nav {
		list-style: none;
	}

	.tabs__title {
		margin-bottom: 0;
	}

	.tabs__title .blocks-rich-text__tinymce.mce-content-body {
		line-height: inherit;
	}
}
